body{
    background-color : lightyellow;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 20px;
}
h2 {
  width: 50%;
 margin-left: 150px;
 padding: 5px;}

p {
  border: solid 3px;
  border-color:darkblue;
  border-radius: 15px;
  color: darkblue;
  font-family: Serif;
  background-color: lightblue;
  padding: 10px;
  margin-right: 150px;}

img {
  width: 100px;
  float: right;
  margin: 10px;
  border-radius: 30px;
  margin-right: 235px;
}

.interstellar.jpg{
  border: solid 3px;
  border-color: black;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  background-color: black;
}

.10_things_i_hate_about_you_poster (1).jpeg{
  border: solid 3px;
  border-color: black;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  background-color: black;
}

.x-men-first-class.jpg{
  border: solid 3px;
  border-color: black;
  border-radius: 20px;
  color: white;
  font-family: cursive;
  background-color: black;
}